*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
.container{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5)), url(img/bg.jpg);
    background-size:cover;
    background-position:center;
}
.top{
    width:100%;
    height:100px;
    background-color:rgba(4,121,0,0.8);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 150px;
}
.logo-area{
   width:30%;
}
.logo-area a{
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo-area a img{
    width:50px ;
}
.logo-area a h1{
    color:#fff;
    text-transform:uppercase;
    font-family: 'Dancing Script', cursive;
    margin-left:15px;
}
.menu-area{
    width:40%;
}
.menu-area ul{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.menu-area ul li{
    position:relative;
}
.menu-area ul li::after{
    content:'';
    position:absolute;
    width:0%;
    height:3px;
    background:#00ffff;
    bottom:-15%;
    left:0;
}
.menu-area ul li:hover::after{
    background:#00ffff;
    width:100%;
    transition: 0.5s all ease-in-out;
}
.menu-area ul li a{
    color:#fff;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-size:14px;

}
.menu-area ul li a:hover{
    color:red;
    transition: 0.5s all ease-in-out;
}
.info{
    text-align:center;
    color:#fff;
    position: absolute;
    top: 30%;



}
.info h1{
    padding-top:18px;
    font-size: 50px;
}
.info p{
    padding-top:15px;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive; 
    font-size:18px;
    padding-right: 8%;
    padding-left:8%;
}
.botton{
    padding: 30px;
    
}
.botton button{
    color:red;
    background:#fff;
    padding:15px 35px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botton button:hover{
    color:#00ffff;
    background:rgb(247, 9, 9);
    transition:0.5s;
}
.botton button::after{
    background:rgb(13, 8, 1);
    position:absolute;
    width:5px;
    height:2px;
    content:'';
    bottom:10%;
    top:5%
}